body { background-color: white; color: black; text-align: left; margin:
  auto; font-family: serif; width: 75% }

h1, h2, h3, h4 { font-family: serif; font-variant: small-caps; }

h1 { text-align: center }
div#top { margin: 2em -2em 2em -2em; padding: .1em 2em;
  background-color: #6f6; color: white; }

h2, h3, h4 { color: #0c0; }
h2, h3 { border-bottom: thin #0c0 dotted; }

div#toc ul { list-style-type: none; }

.indent { text-indent: 2em; }
.todo { font-weight: bold; color: red; background-color: yellow; }
.who { color: red; background-color: yellow; font-weight: bold; font-size:
  80%; }

a { font-weight: bold; color: #048 }
pre { background-color: #cfc; padding: 1em; margin-left: 2em;
  border: solid thin #6f6; }
