.listtagged lh {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.listtags .listtagged lh {
	FONT-WEIGHT: normal
}
.listtags .listtagged UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content UL.tags {
	FLOAT: right; MAX-WIDTH: 20em; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#content .tags LI {
	DISPLAY: inline; TEXT-ALIGN: center
}
#content .tags lh {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: large; TEXT-TRANSFORM: lowercase; COLOR: #ccc; LETTER-SPACING: 0.5em; TEXT-ALIGN: center
}
UL.tagcloud {
	LIST-STYLE-TYPE: none
}
.tagcloud LI {
	DISPLAY: inline
}
.tagcloud LI:unknown {
	content: ", "
}
.tagcloud LI.last:unknown {
	content: ""
}
#expression {
	CLEAR: both; FONT-SIZE: 10px; FLOAT: right; MARGIN: 0px 0px 2em 2em; HEIGHT: 2.2em; TEXT-ALIGN: right
}
#expression INPUT {
	FONT-SIZE: 10px
}
#expression LABEL {
	DISPLAY: none
}
#expression-error {
	FONT-SIZE: 11px; MARGIN: 0.3em 0px; COLOR: #a00
}
