@import url( code.css );
#edit #rows {
	FONT-SIZE: 80%; FLOAT: right
}
#edit #rows SELECT {
	FONT-SIZE: 90%
}
#edit #text {
	CLEAR: both; WIDTH: 100%
}
#edit .wikitoolbar {
	FLOAT: left
}
#changeinfo {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
#changeinfo .field {
	FLOAT: left; MARGIN: 0px 1em 0.5em 0px
}
#changeinfo BR {
	CLEAR: left
}
#changeinfo .options {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#changeinfo .options {
	CLEAR: left
}
#changeinfo .buttons {
	CLEAR: left
}
#delete {
	MARGIN-LEFT: 6em
}
#preview {
	BACKGROUND: url(../draft.png) #f4f4f4; MARGIN: 1em 0px 2em; OVERFLOW: auto
}
#overview .multi {
	COLOR: #999
}
#overview .ipnr {
	FONT-SIZE: 80%; COLOR: #999
}
#overview .comment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1em
}
#wikihist TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#wikihist TD.date {
	WHITE-SPACE: nowrap
}
#wikihist TD.diff {
	WHITE-SPACE: nowrap
}
#wikihist TD.version {
	WHITE-SPACE: nowrap
}
#wikihist TD.author {
	WHITE-SPACE: nowrap
}
#wikihist TD.version {
	TEXT-ALIGN: center
}
#wikihist TD.comment {
	WIDTH: 100%
}

@media Print    
{
TH.diff {
	DISPLAY: none
}
TD.diff {
	DISPLAY: none
}
    }
.wiki-toc {
	BORDER-RIGHT: #ddc 1px outset; PADDING-RIGHT: 1em; BORDER-TOP: #ddc 1px outset; PADDING-LEFT: 1em; FONT-SIZE: 85%; BACKGROUND: #ffd; FLOAT: right; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 2em 1em; BORDER-LEFT: #ddc 1px outset; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddc 1px outset; POSITION: relative
}
.wiki-toc H4 {
	FONT-SIZE: 12px; MARGIN: 0px
}
.wiki-toc UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.wiki-toc OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.wiki-toc UL UL {
	PADDING-LEFT: 1.2em
}
.wiki-toc OL OL {
	PADDING-LEFT: 1.2em
}
.wiki-toc LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.wiki-toc .active {
	BACKGROUND: #ff9; POSITION: relative
}
