BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 10px; COLOR: #000; PADDING-TOP: 0px
}
BODY {
	FONT: 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif
}
TH {
	FONT: 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif
}
TD {
	FONT: 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif; LETTER-SPACING: -0.01em
}
H2 {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif; LETTER-SPACING: -0.01em
}
H3 {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif; LETTER-SPACING: -0.01em
}
H4 {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif; LETTER-SPACING: -0.01em
}
H1 {
	FONT-SIZE: 19px; MARGIN: 0.15em 1em 0px 0px
}
H2 {
	FONT-SIZE: 16px
}
H3 {
	FONT-SIZE: 14px
}
HR {
	BORDER-TOP: #ccb 1px solid; MARGIN: 2em 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
ADDRESS {
	FONT-STYLE: normal
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TT {
	WHITE-SPACE: pre
}
.underline {
	TEXT-DECORATION: underline
}
OL.loweralpha {
	LIST-STYLE-TYPE: lower-alpha
}
OL.upperalpha {
	LIST-STYLE-TYPE: upper-alpha
}
OL.lowerroman {
	LIST-STYLE-TYPE: lower-roman
}
OL.upperroman {
	LIST-STYLE-TYPE: upper-roman
}
OL.arabic {
	LIST-STYLE-TYPE: decimal
}
:link {
	COLOR: #b00; BORDER-BOTTOM: #bbb 1px dotted; TEXT-DECORATION: none
}
:visited {
	COLOR: #b00; BORDER-BOTTOM: #bbb 1px dotted; TEXT-DECORATION: none
}
:hover:link {
	COLOR: #555; BACKGROUND-COLOR: #eee
}
:hover:visited {
	COLOR: #555; BACKGROUND-COLOR: #eee
}
H1 :link {
	
}
H1 :visited {
	
}
H2 :link {
	
}
H2 :visited {
	
}
H3 :link {
	
}
H3 :visited {
	
}
H4 :link {
	
}
H4 :visited {
	
}
H5 :link {
	
}
H5 :visited {
	
}
H6 :link {
	
}
H6 :visited {
	
}
.anchor:link {
	FONT-SIZE: 0.8em; VERTICAL-ALIGN: text-top; COLOR: #d7d7d7; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.anchor:visited {
	FONT-SIZE: 0.8em; VERTICAL-ALIGN: text-top; COLOR: #d7d7d7; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
* > .anchor:link {
	VISIBILITY: hidden
}
* > .anchor:visited {
	VISIBILITY: hidden
}
H1:hover .anchor {
	VISIBILITY: visible
}
H2:hover .anchor {
	VISIBILITY: visible
}
H3:hover .anchor {
	VISIBILITY: visible
}
H4:hover .anchor {
	VISIBILITY: visible
}
H5:hover .anchor {
	VISIBILITY: visible
}
H6:hover .anchor {
	VISIBILITY: visible
}

@media Screen    
{
A.ext-link .icon {
	PADDING-LEFT: 16px; BACKGROUND: url(../extlink.gif) no-repeat left center
}
* HTML A.ext-link .icon {
	DISPLAY: inline-block
}
    }
INPUT {
	MARGIN: 2px
}
TEXTAREA {
	MARGIN: 2px
}
SELECT {
	MARGIN: 2px
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
INPUT[type=button] {
	BORDER-RIGHT: #ccc 1px outset; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px outset; PADDING-LEFT: 0.5em; BACKGROUND: #eee; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #ccc 1px outset; COLOR: #222; PADDING-TOP: 0.1em; BORDER-BOTTOM: #ccc 1px outset
}
INPUT[type=submit] {
	BORDER-RIGHT: #ccc 1px outset; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px outset; PADDING-LEFT: 0.5em; BACKGROUND: #eee; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #ccc 1px outset; COLOR: #222; PADDING-TOP: 0.1em; BORDER-BOTTOM: #ccc 1px outset
}
INPUT[type=reset] {
	BORDER-RIGHT: #ccc 1px outset; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px outset; PADDING-LEFT: 0.5em; BACKGROUND: #eee; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #ccc 1px outset; COLOR: #222; PADDING-TOP: 0.1em; BORDER-BOTTOM: #ccc 1px outset
}
INPUT[type=button]:hover {
	BACKGROUND: #ccb
}
INPUT[type=submit]:hover {
	BACKGROUND: #ccb
}
INPUT[type=reset]:hover {
	BACKGROUND: #ccb
}
INPUT[disabled][type=button] {
	BACKGROUND: #f6f6f6; COLOR: #999; BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
INPUT[disabled][type=submit] {
	BACKGROUND: #f6f6f6; COLOR: #999; BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
INPUT[disabled][type=reset] {
	BACKGROUND: #f6f6f6; COLOR: #999; BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
INPUT[type=text] {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; BORDER-BOTTOM: #d7d7d7 1px solid
}
INPUT.textwidget {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; BORDER-BOTTOM: #d7d7d7 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; BORDER-BOTTOM: #d7d7d7 1px solid
}
INPUT[type=text] {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
INPUT.textwidget {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
INPUT[type=text]:focus {
	BORDER-RIGHT: #886 1px solid; BORDER-TOP: #886 1px solid; BORDER-LEFT: #886 1px solid; BORDER-BOTTOM: #886 1px solid
}
INPUT.textwidget:focus {
	BORDER-RIGHT: #886 1px solid; BORDER-TOP: #886 1px solid; BORDER-LEFT: #886 1px solid; BORDER-BOTTOM: #886 1px solid
}
TEXTAREA:focus {
	BORDER-RIGHT: #886 1px solid; BORDER-TOP: #886 1px solid; BORDER-LEFT: #886 1px solid; BORDER-BOTTOM: #886 1px solid
}
OPTION {
	BORDER-BOTTOM: #d7d7d7 1px dotted
}
FIELDSET {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #d7d7d7 1px solid
}
FIELDSET.iefix {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
* HTML FIELDSET.iefix {
	WIDTH: 98%
}
FIELDSET.iefix P {
	MARGIN: 0px
}
LEGEND {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; COLOR: #999; PADDING-TOP: 0px
}
LABEL.disabled {
	COLOR: #d7d7d7
}
.buttons {
	MARGIN: 0.5em 0.5em 0.5em 0px
}
.buttons FORM {
	DISPLAY: inline
}
.buttons FORM DIV {
	DISPLAY: inline
}
.buttons INPUT {
	MARGIN: 1em 0.5em 0.1em 0px
}
.inlinebuttons INPUT {
	BORDER-RIGHT: 1px dotted; PADDING-RIGHT: 0.1em; BORDER-TOP: 1px dotted; PADDING-LEFT: 0.1em; FONT-SIZE: 70%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.1em; MARGIN: 0px; BORDER-LEFT: 1px dotted; PADDING-TOP: 0.1em; BORDER-BOTTOM: 1px dotted
}
#header HR {
	DISPLAY: none
}
#header H1 {
	MARGIN: 1.5em 0px -1.5em
}
#header IMG {
	MARGIN: 0px 0px -3em; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header :link {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-BOTTOM: 2px; COLOR: #555; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header :visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-BOTTOM: 2px; COLOR: #555; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header :hover:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-BOTTOM: 2px; COLOR: #555; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header :hover:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-BOTTOM: 2px; COLOR: #555; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header H1 :hover:link {
	COLOR: #000
}
#header H1 :hover:visited {
	COLOR: #000
}
#search {
	CLEAR: both; FONT-SIZE: 10px; MARGIN: 0px 0px 1em; HEIGHT: 2.2em; TEXT-ALIGN: right
}
#search INPUT {
	FONT-SIZE: 10px
}
#search LABEL {
	DISPLAY: none
}
.nav H2 {
	DISPLAY: none
}
.nav HR {
	DISPLAY: none
}
.nav UL {
	FONT-SIZE: 10px; MARGIN: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: right
}
.nav LI {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 0.75em; DISPLAY: inline; PADDING-LEFT: 0.75em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.nav LI.last {
	BORDER-RIGHT-STYLE: none
}
#mainnav {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(../topbar_gradient.png) #f7f7f7 0px 0px; PADDING-BOTTOM: 0.2em; MARGIN: 0.66em 0px 0.33em; FONT: 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #000 1px solid
}
#mainnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; BORDER-RIGHT-STYLE: none
}
#mainnav :link {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(../dots.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #555 1px solid; COLOR: #000; PADDING-TOP: 0.2em; BORDER-BOTTOM-STYLE: none
}
#mainnav :visited {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(../dots.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #555 1px solid; COLOR: #000; PADDING-TOP: 0.2em; BORDER-BOTTOM-STYLE: none
}
* HTML #mainnav :link {
	BACKGROUND-POSITION: 1px 0px
}
* HTML #mainnav :visited {
	BACKGROUND-POSITION: 1px 0px
}
#mainnav :hover:link {
	BORDER-RIGHT: #ddd 1px solid; BACKGROUND-COLOR: #ccc
}
#mainnav :hover:visited {
	BORDER-RIGHT: #ddd 1px solid; BACKGROUND-COLOR: #ccc
}
#mainnav .active :link {
	BORDER-RIGHT: #000 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(../topbar_gradient2.png) #333 repeat-x 0px 0px; COLOR: #eee; BORDER-TOP-STYLE: none
}
#mainnav .active :visited {
	BORDER-RIGHT: #000 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(../topbar_gradient2.png) #333 repeat-x 0px 0px; COLOR: #eee; BORDER-TOP-STYLE: none
}
#mainnav .active :hover:link {
	BORDER-RIGHT: #000 1px solid
}
#mainnav .active :hover:visited {
	BORDER-RIGHT: #000 1px solid
}
#ctxtnav {
	HEIGHT: 1em
}
#ctxtnav LI UL {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px solid; COLOR: #ccc; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
#ctxtnav LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#ctxtnav LI LI :link {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#ctxtnav LI LI :visited {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#ctxtnav LI LI :hover:link {
	BACKGROUND: #bba; COLOR: #fff
}
#ctxtnav LI LI :hover:visited {
	BACKGROUND: #bba; COLOR: #fff
}
#altlinks {
	CLEAR: both; TEXT-ALIGN: center
}
#altlinks H3 {
	FONT-SIZE: 12px; MARGIN: 0px; LETTER-SPACING: normal
}
#altlinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#altlinks LI {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 1em; DISPLAY: inline; PADDING-LEFT: 1em; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#altlinks LI.last {
	BORDER-RIGHT-STYLE: none
}
#altlinks LI :link {
	BACKGROUND-POSITION: 0px -1px; BORDER-TOP-STYLE: none; BACKGROUND-REPEAT: no-repeat; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#altlinks LI :visited {
	BACKGROUND-POSITION: 0px -1px; BORDER-TOP-STYLE: none; BACKGROUND-REPEAT: no-repeat; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#altlinks LI A.ics {
	PADDING-LEFT: 22px; BACKGROUND-IMAGE: url(../ics.png)
}
#altlinks LI A.rss {
	PADDING-LEFT: 42px; BACKGROUND-IMAGE: url(../xml.png)
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0.25em; COLOR: #bbb; PADDING-TOP: 0.25em; HEIGHT: 31px
}
#footer :link {
	COLOR: #bbb
}
#footer :visited {
	COLOR: #bbb
}
#footer HR {
	DISPLAY: none
}
#footer #tracpowered {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#footer #tracpowered:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#footer P {
	MARGIN: 0px
}
#footer P.left {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1em; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 0px
}
#footer P.right {
	FLOAT: right; TEXT-ALIGN: right
}
#content {
	PADDING-BOTTOM: 2em; POSITION: relative
}
#help {
	CLEAR: both; FONT-SIZE: 90%; MARGIN: 1em; COLOR: #999; TEXT-ALIGN: right
}
#help :link {
	CURSOR: help
}
#help :visited {
	CURSOR: help
}
#help HR {
	DISPLAY: none
}
#prefs {
	BORDER-RIGHT: #998 1px outset; PADDING-RIGHT: 0.8em; BORDER-TOP: #998 1px outset; PADDING-LEFT: 0.8em; FONT-SIZE: 9px; BACKGROUND: #f7f7f0; FLOAT: right; PADDING-BOTTOM: 0.8em; MARGIN: 0px 1em 1em; BORDER-LEFT: #998 1px outset; PADDING-TOP: 0.8em; BORDER-BOTTOM: #998 1px outset; POSITION: relative
}
* HTML #prefs {
	WIDTH: 26em
}
#prefs INPUT {
	FONT-SIZE: 9px; VERTICAL-ALIGN: middle
}
#prefs SELECT {
	FONT-SIZE: 9px; VERTICAL-ALIGN: middle
}
#prefs FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0.5em; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#prefs FIELDSET LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -1.5em; COLOR: #000; PADDING-TOP: 0px
}
#prefs .buttons {
	TEXT-ALIGN: right
}
#info {
	CLEAR: both; BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BACKGROUND: #f7f7f0; MARGIN: 1em 0px 0px; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-COLLAPSE: collapse; border-spacing: 0
}
#info TH {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 85%; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
#info TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 85%; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
#info TH {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
#info TD.message {
	WIDTH: 100%
}
#info .message UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2em; PADDING-TOP: 0px
}
#info .message P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.wikipage {
	PADDING-LEFT: 18px
}
.wikipage H1 {
	MARGIN-LEFT: -18px
}
.wikipage H2 {
	MARGIN-LEFT: -18px
}
.wikipage H3 {
	MARGIN-LEFT: -18px
}
A.missing:link {
	COLOR: #998
}
A.missing:visited {
	COLOR: #998
}
SPAN.missing {
	COLOR: #998
}
A.missing:link {
	BACKGROUND: #fafaf0
}
A.missing:visited {
	BACKGROUND: #fafaf0
}
A.missing:hover {
	COLOR: #000
}
A.closed:link {
	TEXT-DECORATION: line-through
}
A.closed:visited {
	TEXT-DECORATION: line-through
}
DL.wiki DT {
	FONT-WEIGHT: bold
}
DL.compact DT {
	PADDING-RIGHT: 0.5em; FLOAT: left
}
DL.compact DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE.wiki {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 0.25em; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0.25em; MARGIN: 1em 1.75em; OVERFLOW: auto; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #d7d7d7 1px solid
}
PRE.literal-block {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 0.25em; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 0.25em; MARGIN: 1em 1.75em; OVERFLOW: auto; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #d7d7d7 1px solid
}
BLOCKQUOTE.citation {
	BORDER-RIGHT: #b44 0px solid; BORDER-TOP: #b44 0px solid; PADDING-LEFT: 0.5em; MARGIN: -0.6em 0px; BORDER-LEFT: #b44 2px solid; BORDER-BOTTOM: #b44 0px solid
}
.citation BLOCKQUOTE.citation {
	BORDER-LEFT-COLOR: #4b4; BORDER-BOTTOM-COLOR: #4b4; BORDER-TOP-COLOR: #4b4; BORDER-RIGHT-COLOR: #4b4
}
.citation .citation BLOCKQUOTE.citation {
	BORDER-LEFT-COLOR: #44b; BORDER-BOTTOM-COLOR: #44b; BORDER-TOP-COLOR: #44b; BORDER-RIGHT-COLOR: #44b
}
.citation .citation .citation BLOCKQUOTE.citation {
	BORDER-LEFT-COLOR: #c55; BORDER-BOTTOM-COLOR: #c55; BORDER-TOP-COLOR: #c55; BORDER-RIGHT-COLOR: #c55
}
TABLE.wiki {
	BORDER-RIGHT: #ccc 2px solid; BORDER-TOP: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; BORDER-BOTTOM: #ccc 2px solid; BORDER-COLLAPSE: collapse; border-spacing: 0
}
TABLE.wiki TD {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #ccc 1px solid
}
.wikitoolbar {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 0px solid; WIDTH: 208px; BORDER-BOTTOM: #d7d7d7 1px solid; HEIGHT: 18px
}
.wikitoolbar :link {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; BACKGROUND: url(../edit_toolbar.png) no-repeat; FLOAT: left; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 24px; CURSOR: default; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 16px
}
.wikitoolbar :visited {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; BACKGROUND: url(../edit_toolbar.png) no-repeat; FLOAT: left; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 24px; CURSOR: default; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 16px
}
.wikitoolbar :hover:link {
	BORDER-RIGHT: #fb2 1px solid; BORDER-TOP: #fb2 1px solid; BORDER-LEFT: #fb2 1px solid; BORDER-BOTTOM: #fb2 1px solid; BACKGROUND-COLOR: transparent
}
.wikitoolbar :hover:visited {
	BORDER-RIGHT: #fb2 1px solid; BORDER-TOP: #fb2 1px solid; BORDER-LEFT: #fb2 1px solid; BORDER-BOTTOM: #fb2 1px solid; BACKGROUND-COLOR: transparent
}
.wikitoolbar A#em {
	BACKGROUND-POSITION: 0px 0px
}
.wikitoolbar A#strong {
	BACKGROUND-POSITION: 0px -16px
}
.wikitoolbar A#heading {
	BACKGROUND-POSITION: 0px -32px
}
.wikitoolbar A#link {
	BACKGROUND-POSITION: 0px -48px
}
.wikitoolbar A#code {
	BACKGROUND-POSITION: 0px -64px
}
.wikitoolbar A#hr {
	BACKGROUND-POSITION: 0px -80px
}
.wikitoolbar A#np {
	BACKGROUND-POSITION: 0px -96px
}
.wikitoolbar A#br {
	BACKGROUND-POSITION: 0px -112px
}
#attachment .field {
	MARGIN-TOP: 1.3em
}
#attachment LABEL {
	PADDING-LEFT: 0.2em
}
#attachment FIELDSET {
	MARGIN-TOP: 2em
}
#attachment FIELDSET .field {
	FLOAT: left; MARGIN: 0px 1em 0.5em 0px
}
#attachment .options {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#attachment BR {
	CLEAR: left
}
.attachment #preview {
	MARGIN-TOP: 1em
}
#attachments {
	BORDER-RIGHT: #996 1px outset; PADDING-RIGHT: 1em; BORDER-TOP: #996 1px outset; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: #996 1px outset; PADDING-TOP: 1em; BORDER-BOTTOM: #996 1px outset
}
#attachments .attachments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2em; PADDING-TOP: 0px
}
#attachments DT {
	DISPLAY: list-item; LIST-STYLE-TYPE: square
}
#attachments DD {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; FONT-STYLE: italic
}
TABLE.listing {
	CLEAR: both; MARGIN-TOP: 1em; WIDTH: 100%; BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-COLLAPSE: collapse; border-spacing: 0
}
TABLE.listing TH {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE.listing THEAD {
	BACKGROUND: #f7f7f0
}
TABLE.listing THEAD TH {
	BORDER-RIGHT: #d7d7d7 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #d7d7d7 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #d7d7d7 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
TABLE.listing THEAD TH :hover:link {
	BACKGROUND-COLOR: transparent
}
TABLE.listing THEAD TH :hover:visited {
	BACKGROUND-COLOR: transparent
}
TABLE.listing THEAD TH A {
	PADDING-RIGHT: 12px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.listing TH.asc A {
	FONT-WEIGHT: bold
}
TABLE.listing TH.desc A {
	FONT-WEIGHT: bold
}
TABLE.listing TH.asc A {
	BACKGROUND-POSITION: 100% 50%; BACKGROUND-REPEAT: no-repeat
}
TABLE.listing TH.desc A {
	BACKGROUND-POSITION: 100% 50%; BACKGROUND-REPEAT: no-repeat
}
TABLE.listing TH.asc A {
	BACKGROUND-IMAGE: url(../asc.png)
}
TABLE.listing TH.desc A {
	BACKGROUND-IMAGE: url(../desc.png)
}
TABLE.listing TBODY TD {
	BORDER-RIGHT: #ddd 1px dotted; PADDING-RIGHT: 0.5em; BORDER-TOP: #ddd 1px dotted; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.33em; VERTICAL-ALIGN: top; BORDER-LEFT: #ddd 1px dotted; PADDING-TOP: 0.33em; BORDER-BOTTOM: #ddd 1px dotted
}
TABLE.listing TBODY TH {
	BORDER-RIGHT: #ddd 1px dotted; PADDING-RIGHT: 0.5em; BORDER-TOP: #ddd 1px dotted; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.33em; VERTICAL-ALIGN: top; BORDER-LEFT: #ddd 1px dotted; PADDING-TOP: 0.33em; BORDER-BOTTOM: #ddd 1px dotted
}
TABLE.listing TBODY TD A:hover {
	BACKGROUND-COLOR: transparent
}
TABLE.listing TBODY TH A:hover {
	BACKGROUND-COLOR: transparent
}
TABLE.listing TBODY TR {
	BORDER-TOP: #ddd 1px solid
}
TABLE.listing TBODY TR.even {
	BACKGROUND-COLOR: #fcfcfc
}
TABLE.listing TBODY TR.odd {
	BACKGROUND-COLOR: #f7f7f7
}
TABLE.listing TBODY TR:hover {
	BACKGROUND: #eed
}
.error#content .message {
	BORDER-RIGHT: #d00 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #d00 2px solid; PADDING-LEFT: 0.5em; BACKGROUND: #fdc; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0px; BORDER-LEFT: #d00 2px solid; COLOR: #500; PADDING-TOP: 0.5em; BORDER-BOTTOM: #d00 2px solid
}
DIV.system-message {
	BORDER-RIGHT: #d00 2px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #d00 2px solid; PADDING-LEFT: 0.5em; BACKGROUND: #fdc; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0px; BORDER-LEFT: #d00 2px solid; COLOR: #500; PADDING-TOP: 0.5em; BORDER-BOTTOM: #d00 2px solid
}
.error#content PRE {
	MARGIN-LEFT: 1em; OVERFLOW: auto
}
DIV.system-message PRE {
	MARGIN-LEFT: 1em; OVERFLOW: auto
}
DIV.system-message P {
	MARGIN: 0px
}
DIV.system-message P.system-message-title {
	FONT-WEIGHT: bold
}

@media Screen    
{
.searchword0 {
	BACKGROUND: #ff9
}
.searchword1 {
	BACKGROUND: #cfc
}
.searchword2 {
	BACKGROUND: #cff
}
.searchword3 {
	BACKGROUND: #ccf
}
.searchword4 {
	BACKGROUND: #fcf
}

}

@media Print    
{
#header {
	DISPLAY: none
}
#altlinks {
	DISPLAY: none
}
#footer {
	DISPLAY: none
}
#help {
	DISPLAY: none
}
.nav {
	DISPLAY: none
}
FORM {
	DISPLAY: none
}
.buttons FORM {
	DISPLAY: none
}
FORM .buttons {
	DISPLAY: none
}
FORM .inlinebuttons {
	DISPLAY: none
}
FORM.printableform {
	DISPLAY: block
}

}
